{% extends 'master.html' %}

{% load crispy_forms_tags %}

{% block content1 %}

<div class="container"><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <h1><b>Error: 404 </b> [PAGE NOT FOUND]</h1>
    <p>The requested page could not be found but <b>may be</b> available again in the future.</p> 
    <a href="https://hotelam.herokuapp.com/accounts/profile/" class="btn btn-danger" role="button">Goto Menu Page</a>
  </div>

{% endblock %}


{% block content %}
<div class="container">
    <h3 class="text-center">{{tag}}</h3>
    {% if msg %} <div class="alert alert-success">{{msg}}</div> {% endif %}
<form action="" method="post" class="form-row">
    {% csrf_token %}
        <div class="col-4">{{form.invoice_no | as_crispy_field}}</div>
        <div class="col-4">{{form.date | as_crispy_field}}</div>
        <div class="col-4">{{form.person_count | as_crispy_field}}</div>
        
        <div class="col-3">{{form.name | as_crispy_field}}</div>
        <div class="col-6">{{form.address | as_crispy_field}}</div>
        <div class="col-3">{{form.phone | as_crispy_field}}</div>
        <div class="col-6">{{form.company_name | as_crispy_field}}</div>
        <div class="col-6">{{form.gstin | as_crispy_field}}</div>
        


        <div class="col-2">{{form.room_no | as_crispy_field}}</div>
        <div class="col-2">{{form.rate | as_crispy_field}}</div>
        <div class="col-2">{{form.days_count | as_crispy_field}}</div>
        <div class="col-3">{{form.check_in | as_crispy_field}}</div>
        <div class="col-3">{{form.check_out | as_crispy_field}}</div>

        <div class="col-2">{{form.room_no_2 | as_crispy_field}}</div>
        <div class="col-2">{{form.rate_2 | as_crispy_field}}</div>
        <div class="col-2">{{form.days_count_2 | as_crispy_field}}</div>
        <div class="col-3">{{form.check_in_2 | as_crispy_field}}</div>
        <div class="col-3">{{form.check_out_2 | as_crispy_field}}</div>

        <div class="col-2">{{form.room_no_3 | as_crispy_field}}</div>
        <div class="col-2">{{form.rate_3 | as_crispy_field}}</div>
        <div class="col-2">{{form.days_count_3 | as_crispy_field}}</div>
        <div class="col-3">{{form.check_in_3 | as_crispy_field}}</div>
        <div class="col-3">{{form.check_out_3 | as_crispy_field}}</div>
        
    
        <div class="col-4">{{form.discount | as_crispy_field}}</div>
        <div class="col-7">{{form.remark | as_crispy_field}}</div>
        <div class="col-1 mt-5">{{form.is_gst | as_crispy_field}}</div>
        
        

    <div class="container">
    <div class="row justify-content-end">
        <button class="btn btn-lg btn-secondary btn-block mr-2 mb-3" type="submit">Save</button>
        {% if invoice_no %}<a href="{% url 'printinvcc' invoice_no %}" class="btn btn-lg btn-secondary mr-2" target="_blank">Print Customer Copy</a>{% endif %}
        {% if invoice_no %}<a href="{% url 'printinvhc' invoice_no %}" class="btn btn-lg btn-secondary" target="_blank">Print Hotel Copy</a>{% endif %}
    </div>
    </div>
    
<datalist id="rooms">
    {% for room in rooms %}
<option value="{{room.room_no}}">{{room}}</option>
    {% endfor %}
</datalist>

</form>

</div>
{% endblock %}