{% extends 'master.html' %}

{% block content %}
<div class="container mt-2">
  <h3 class="text-center m-3 mb-5">Dues Bill</h3>
<form method="POST">
  {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputname4">Name</label>
        <input type="text" class="form-control" id="inputname4" placeholder="Name" name="name" required>
      </div>
      <div class="form-group col-md-3">
        <label for="roomno">Room No.</label>
        <input type="number" class="form-control" id="roomno" placeholder="Room No." name="room" required>
      </div>
      <div class="form-group col-md-3">
          <label for="inputDate4">Date</label>
          <input type="date" class="form-control" id="inputDate4" placeholder="Date" name="date" required>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputFromDate">From Date</label>
            <input type="date" class="form-control" id="inputFromDate" placeholder="From Date" name="fdate" required>
          </div>
        <div class="form-group col-md-6">
          <label for="inputTodate">To Date</label>
          <input type="date" class="form-control" id="inputToDate" placeholder="To Date" name="tdate" required>
        </div>
      </div>
  
    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="total">Total</label>
          <input type="number" class="form-control" id="total" placeholder="Total" name="total" required>
        </div>
        <div class="form-group col-md-6">
          <label for="advance">Advance</label>
          <input type="number" class="form-control" id="advance" placeholder="Advance" name="adv" required>
        </div>
    </div>


    <button type="submit" class="btn btn-primary btn-lg px-5 mr-3">Generate</button>
    <button type="reset" class="btn btn-secondary btn-lg px-5">Reset</button>
  </form>
</div>
{% endblock %}